.page-header {
  padding: 2rem 1rem 1rem;
  position: relative;

  background: linear-gradient(to right, var(--orange), var(--pink));
  color: white;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.page-header > .title {
  margin: unset;

  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 500;
}

.page-header > .button {
  padding: unset;
  position: absolute;
  top: 2rem;
  right: 1rem;

  background-color: transparent;
  color: white;

  border: unset;
}

.page-header > .button:active {
  color: var(--dark-gray);
}
