.page-navigation {
  position: fixed;
  left: 0;
  top: 0;

  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: linear-gradient(to top, var(--orange), var(--pink));
  
  
  transform: translateX(-100%);
  transition: transform .2s ease-out, box-shadow .2s linear;
}

.page-navigation.-visible {
  transform: translateX(0);

  box-shadow: 6px 0 12px rgba(0, 0, 0, .15);
}

.page-navigation > .button {
  width: 60px;
  height: 60px;

  color: white;
  background-color: rgba(0, 0, 0, .15);

  border-radius: 50%;
  border: none;

  cursor: pointer;
}